<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codemov.aplikasiformatif2_habibulilah">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="BangunRuang.BolaActivity" />
        <activity android:name="BangunRuang.TabungActivity" />
        <activity android:name="BangunRuang.KerucutActivity" />
        <activity android:name="BangunRuang.KubusActivity" />
        <activity android:name="BangunRuang.BalokActivity" />
        <activity android:name="BidangDatar.LayangLayangActivity" />
        <activity android:name="BidangDatar.LingkaranActivity" />
        <activity android:name="BidangDatar.JajarGenjangActivity" />
        <activity android:name="BidangDatar.SegitigaActivity" />
        <activity android:name="BidangDatar.TrapesiumActivity" />
        <activity android:name=".VideoStreamingActivity" />
        <activity android:name=".VideoSederhanaActivity" />
        <activity android:name=".AudioStreamingActivity" />
        <activity android:name=".AudioSederhanaActivity" />
        <activity android:name=".BangunRuangActivity" />
        <activity android:name=".BidangDatarActivity" />
        <activity android:name=".AritmatikaActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>